@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0c0c0d;
    font-family: "DejaVu Sans", sans-serif;
}

li, a {
    text-decoration: none;
    transition: all 0.1s ease 0s;
    background-color: #18191a;
}

header {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    background-color: #18191a;
}

.active {
    cursor: pointer;
    position: relative;
}

.active :before {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 1px;
    bottom: 0;
    border-bottom: 1px solid #E9D3FF;
}

.navigation-links {
    list-style: none;
    text-align: center;
    background-color: #18191a;
}

.navigation-links li {
    display: inline-block;
    padding: 0 20px;
    color: #18191a;
}

.navigation-links li a:hover {
    color: #E9D3FF;
}

.introduction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: left;
}

.introduction h1 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #d0a0ff;
}