@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0c0c0d;
    font-family: "DejaVu Sans", sans-serif;
}

body::-webkit-scrollbar {
    background-color: #0c0c0d;
}

h1, h2, p, li {
    text-shadow: 2px 2px #121212;
}

a {
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    cursor: pointer;
    color: #add8e6;
}

video, img {
    width: 100%;
    height: auto;
}

.footer {
    color: #72bcd4;
    font-size: 36px;
    text-align: center;
    padding: 50px;
}

header {
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    background-color: #18191a;
    box-shadow: 0 10px #0c0c0d;
}

.active[data-tab-target] {
    cursor: pointer;
    position: relative;
}

.active[data-tab-target]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15%;
    height: 2px;
    bottom: 0;
    border-bottom: 2px solid #add8e6;
}

[data-tab-content] {
    display: none;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-items {
    list-style: none;
    text-align: center;
    background-color: #18191a;
}

.nav-items li {
    font-size: 18px;
    display: inline-block;
    padding: 0 30px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    background-color: #18191a;
}

.nav-items li:hover {
    cursor: pointer;
    color: #add8e6;
}

.introduction.active[data-tab-content] {
    display: flex;
    align-items: center;
    border: 5px solid #72bcd4;
}

.introduction .details {
    padding: 20px;
    width: 35vw;
}

.introduction .details h1 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #72bcd4;
}

.profile-pic {
    padding: 20px;
    height: 300px;
    border-radius: 5%;
    width: auto;
}

.projects.active[data-tab-content] {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 10%;
    grid-gap: 100px;
}

.grid-item-container {
    display: block;
    padding: 5px;
    font-size: 18px;
}

.grid-item-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    color: #72bcd4;
}

.grid-item-container p {
    text-indent: 30px;
    line-height: 2;
}

.grid-item-container li {
    list-style-position: inside;
    padding-left: 30px;
    line-height: 2;
}


.grid-container iframe {
    height: 800px;
    width: 100%;
}

.music.active[data-tab-content] {
    display: block;
}

.music {
    text-align: center;
}

.music h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
    color: #72bcd4;
}

.music p{
    font-size: 24px;
    margin: auto;
    width: 60%;
    text-align: center;
    padding-bottom: 40px;
    line-height: 1.5;
}